<ion-content class="splash-screen">

  <div class="splash-container">

    <div class="top-line"></div>

    <div class="logo-area">
      <img src="assets/login.png" alt="BRYALE" class="logo">
    </div>

    <div class="footer-text">
      <p>
        "Mejorando la organización y<br>
        eficiencia de tu negocio"
      </p>

      <div class="line"></div>

      <h2>2026</h2>

      <div class="loading-bar">
        <div class="loading-progress"></div>
      </div>

    </div>

  </div>

</ion-content>