<ion-content class="password-page">

  <div class="header">
    <ion-icon name="arrow-back-outline" class="back-icon" (click)="regresar()"></ion-icon>
    <h1>CAMBIAR CONTRASEÑA</h1>
  </div>

  <div class="content-box">

    <div class="password-card">
      <div class="lock-circle">
        <ion-icon name="lock-closed-outline"></ion-icon>
      </div>

      <h2>Seguridad de cuenta</h2>
      <p>Actualiza tu contraseña para proteger tu información.</p>
    </div>

    <div class="form-card">

      <div class="input-group">
        <span>Contraseña actual</span>
        <div class="input-box">
          <ion-input
            [type]="verActual ? 'text' : 'password'"
            [(ngModel)]="passwordActual"
            placeholder="Ingresa tu contraseña actual">
          </ion-input>

          <ion-icon
            [name]="verActual ? 'eye-off-outline' : 'eye-outline'"
            (click)="verActual = !verActual">
          </ion-icon>
        </div>
      </div>

      <div class="input-group">
        <span>Nueva contraseña</span>
        <div class="input-box">
          <ion-input
            [type]="verNueva ? 'text' : 'password'"
            [(ngModel)]="passwordNueva"
            placeholder="Ingresa nueva contraseña">
          </ion-input>

          <ion-icon
            [name]="verNueva ? 'eye-off-outline' : 'eye-outline'"
            (click)="verNueva = !verNueva">
          </ion-icon>
        </div>
      </div>

      <div class="input-group">
        <span>Confirmar contraseña</span>
        <div class="input-box">
          <ion-input
            [type]="verConfirmar ? 'text' : 'password'"
            [(ngModel)]="passwordConfirmar"
            placeholder="Repite la nueva contraseña">
          </ion-input>

          <ion-icon
            [name]="verConfirmar ? 'eye-off-outline' : 'eye-outline'"
            (click)="verConfirmar = !verConfirmar">
          </ion-icon>
        </div>
      </div>

      <p class="mensaje" *ngIf="mensaje">{{ mensaje }}</p>

    </div>

    <button class="save-btn" (click)="guardarPassword()">
      Guardar Contraseña
    </button>

  </div>

</ion-content>